		* {
			margin: 0px;
			padding: 0px; 
			outline: none;
			border: 0px;
			overflow-y:hidden;
			overflow-x: hidden;
		}

		
		#main {
		  width: 200px;
		  height:40px;
		  display: block;
		  justify-content: center; 
		}

		#main div {
		  width: 445px;
		  height: 10px;
		  display: block;
		}
		
		body {
		text-align: left;
		margin: 0;
		}
		
		button {
		border-radius: 10px;
		display: inline-block
		color:#e0ead9;
		background-color:#787f73;
		padding: 10px;
		}
		
		.ResourceButtons{
		}
		
		.ResourceGathered {
		color: green;
		border: 2px solid #000000;
		text-align: right;
		width: fit-content;
		}
		
		.ResourcePerSecond {
		color: grey;
		border: 2px solid #000000;
		text-align: right;
		}
		
		#bronzeMined{
		color: green;
		border: 2px solid #000000;
		}
		
		#bronzeMinedPerSecond {
		color: grey;
		border: 2px solid #000000;
		justify-content:center;
		}
		
		.container {
		display: flex; /* or inline-flex */
		}
		
		.flex-container {
		  display: flex;
		  background-color: green;
		  flex-direction: column;
		  align-items: start;
		  width: 40rem; 


		  
		}
		
		.flex-container button{
		  display: inline-flex;
		  background-color: Grey;
		  flex-direction: column;
		  align-items: start;
		  margin-left: 0.25rem;
		  margin-right: 0.25rem;	
		  width: fit-content;
			justify-content: center;

		  
		}
		
		.resource-container {
		  display: inline-flex;
		  flex-direction: row;
		  align-items: center;
		}
		
		.resource-container button{
		  display: inline-flex;
		  width: fit-content;
		}
		.flex-container > div {
		  background-color: green;
		  margin: 10px;
		  padding: 10px;
		  font-size: 30px;
		  border: 1px solid black;
		  background-color:#b8c2d4;
		  
		}
		
		.OptionsQuick {
			display: inline-flex;
			text-align: left;
		}
		
		#footer {
		   position:absolute;
		   bottom:0;
		   width:100%;
		   height:30px;   /* Height of the footer */
		   padding: 20px;
		   background:#6cf;
		   text-align:left;
		}
		
		#header {
		   position: fixed;
		   width:100%;
		   height:0rem;   /* Height of the footer */
		   padding: 20px;
		   background:#948584;
		   justify-content: left;
		}
		
		#Resources {
			background-color: orange;
			font-size: 1.4rem;
		    margin-top:10px; 
			margin-left:10px;
			border-style: solid;
			border-right: 1px solid;
			border-left: 1px solid;
			border-top: 1px solid;
			border-bottom: 1px solid;
			border-color: black;
			position: fixed;
			top: 1.9rem;
			left:-0.6rem;
		}
		
		.tabcontent {
		  animation: fadeEffect 1s; /* Fading effect takes 1 second */
		  padding: 20px;
			
		}
		
		@keyframes fadeEffect {
			from {opacity: 0;}
			to {opacity: 1;}
		}
		
		.active {
		  background-color: #ccc;
		}
		
		.dnone {
			display : none;
		}

		.dblock {
			display: block;
		}
		
		.QuickOptionButtons {
			text-align:left;
			padding-left: 0.5rem;
		}
		
		.tabHolder {
			display: inline-block;
			width:33.1%;
			padding: 20px;
			background:brown;
			justify-content: center;
			position: fixed;
			top: 2.5rem;
			left:50%;
			transform: translate(-50%, 0);
			text-align: center
			
		}
		
		.tab {
		  overflow: hidden;
		  background-color: green;
		  display: inline-block;
		  
		}
		
		.tab button {
			display: inline-block;
			background-color: grey;
			display: inline-flex;
			outline: none;
			cursor: pointer;
			padding: 14px 16px;
			transition: 0.3s;
			height: 3rem;
		  
		}
		
		.tablinks button{
		display: inline-block
		border: thick solid black;
		font-size:1vw;
		
		}
		
		#Gatherbutton{
		margin-top: 0.6rem;
		margin-bottom: 0.6rem;
		margin-left: 0.6rem;
		margin-right: 0.3rem;
		}
		
		#Buildingsbutton{
		margin-top: 0.6rem;
		margin-bottom: 0.6rem;
		margin-left: 0.3rem;
		margin-right: 0.3rem;
		}
		
		#Peoplebutton{
		margin-top: 0.6rem;
		margin-bottom: 0.6rem;
		margin-left: 0.3rem;
		margin-right: 0.3rem;
		}
		
		#Researchbutton{
		margin-top: 0.6rem;
		margin-bottom: 0.6rem;
		margin-left: 0.3rem;
		margin-right: 0.3rem;
		}
		
		#Religionbutton{
		margin-top: 0.6rem;
		margin-bottom: 0.6rem;
		margin-left: 0.3rem;
		margin-right: 0.6rem;
		}


		.tab button:hover {
		  background-color: #ddd;
		}
		
		button:hover {
		  background-color: #ddd;
		}
		
		#TopOfPageContainer {
		position: fixed;
		}
		
		#gameVersion{
		text-align: left;
		margin-left: 0.1rem;
		margin-top: -0.5rem
		
		}
		
		.Hidden{
		display: none;
		}
		
					
		.visibleblock{
			display: block;
			padding: 10px;
		}
		
		#Buildings{
			background-color:grey;
			text-align: left;
		}
		
		.ResourceButtons{
		display: inline-block;
		}
		
		#FoodProgressBar {
		    width: 0;
			background: #f78;
			text-align: center;
			overflow: hidden; 
			height:10%;
		}
		#FoodProgressBarContainer{
			background-color: grey;
			color: black;
			font-size: 1.5rem;
			text-align: left;
			width: 93%;
		}

		.ui-widget {
			background: gray;
			border: 1px solid black;
        }
		
		.progress,
		.progress:hover {
			background: transparent;
			padding: 0;
			height: 30px;
			width: 68px;
		}
		
		.MainInteractTitle {
			text-align: left;
		}
		
		.flex-parent {
		  display: flex;
		}
		.flex-child {
		  flex: 1;
		}
		
		.MainInteract{
			position: fixed;
			top: 9.4rem;
			left:38.8rem;
			
			border-style: solid;
			border-color: black;
			border-width: thick;
			text-align: center;
			width: 41.8rem;
			height: 40rem;
		}
		
		#TimeStateButtonContainer{
			display: inline-flex;
			position: fixed;
			top:0.2rem;
			right:4rem;
		}
		
		#MenuIcon{
			position:fixed;
			right: 1rem;		
		}
		
		#MenuDialog{
			position: fixed;
		}
		
		.GameStats{
			
		}
		
		#OptionsDialog{
				background-color:light-grey;
		}
		
		.TimeColor{
			color:#2ebf55
		}
		
		.GatherDialog{
		}
		
		#FoodProgressBar {
		  width: 0;
		  height: 2rem;
		  background: #f78;
		  text-align: center;
		  overflow: hidden;
		}
		#FoodProgressBarContainer {
		  width: 37.6rem;
		  background: orange;
		  text-align: center;
		  overflow: hidden;
			height: 2rem;
		}
		
		#WoodProgressBar {
		  width: 0;
		  height: 2rem;
		  background: #f78;
		  text-align: center;
		  overflow: hidden;
		}
		#WoodProgressBarContainer {
		  width: 37.6rem;
		  background: orange;
		  text-align: center;
		  overflow: hidden;
			height: 2rem;
		}
		
		#CopperProgressBar {
		  width: 0;
		  height: 2rem;
		  background: #f78;
		  text-align: center;
		  overflow: hidden;
		}
		#CopperProgressBarContainer {
		  width: 37.6rem;
		  background: orange;
		  text-align: center;
		  overflow: hidden;
			height: 2rem;
		}
		
		#BronzeProgressBar {
		  width: 0;
		  height: 2rem;
		  background: #f78;
		  text-align: center;
		  overflow: hidden;
		}
		#BronzeProgressBarContainer {
		  width: 37.6rem;
		  background: orange;
		  text-align: center;
		  overflow: hidden;
			height: 2rem;
		}
		
			background-color:#ccc;
		button.active{
		}